DB_ENGINE=sqlserver

DB_SERVER=localhost,1433
DB_NAME=econobr
DB_USER=sa
DB_PASSWORD=ChangeThisPassword

PG_HOST=db.link.pooler
PG_PORT=5432
PG_DB=postgres
PG_USER=postgres
PG_PASSWORD=YourConnectionSupabase